#contact-page {
    background-color: #f0f2f5;
}
#contact-page main {
    margin-top: 50px;
}
.contact-main .contact-info .info-title {
    margin-bottom: 20px;
}
.contact-main .contact-info .info-title h6 {
    color: #5aaad1;
    font-size: 14px;
    
}
.contact-main .contact-info .info-title h2 {
    color: #1B1D21;
    font-size: 36px;
    
}
.contact-main .contact-info .info-title p {
    font-size: 16px;
    color: #6D6D6D;
}
.contact-main .contact-info .info-group .info-item{
    padding: 20px;
    margin: 20px 0;
    display: flex;
}
.contact-main .contact-info .info-group .info-item:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact-main .contact-info .info-group .info-item .item-icon {
    margin-right: 10px;
    color: #ff660e;
}
.contact-main .contact-info .info-group .info-item .item-icon i {
    font-size: 24px;
    
}
.contact-main .contact-info .info-group .info-item .item-text h5 {
    color: #1B1D21;
    font-size: 18px;
}
.contact-main .contact-info .info-group .info-item .item-text p {
    color: #6D6D6D;
}
.contact-main .contact-form {
    background-color: #fff;
    /* background-image: linear-gradient(to right, #ff660e , #eebea3); */
    padding: 40px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.contact-main .contact-form .form-title {
    margin-bottom: 30px;
}
.contact-main .contact-form .form-title h2 {
    font-size: 36px;
    color: #000;
}
.contact-main .contact-form .form-title p {
    font-size: 16px;
    color: #6D6D6D;
}
.contact-main .contact-form .form-group {
    position: relative;
}
.contact-main .contact-form input,
.contact-main .contact-form textarea {
    background: none;
    border: 1px solid #6D6D6D;
    color: #6D6D6D;
    padding: 20px 10px;
    margin: 20px 0;
}
.contact-main .contact-form label {
    color: #6D6D6D;
    padding: 0 5px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3 ease-in-out;
    z-index: 10;
}
.contact-main .contact-form .form-group input:focus + label,
.contact-main .contact-form .form-group input:valid + label,
.contact-main .contact-form .form-group textarea:focus + label, 
.contact-main .contact-form .form-group textarea:valid + label {
    top: 0;
    font-size: 14px;
    background-color: #fff;
    color: #0087cc;
}
.contact-main .contact-form .btn-contact {
    padding: 10px 20px;
    color: #fff;
    background-color: #0087cc;
}

.contact-main .contact-form .btn-contact:hover {
    box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
}