#details-product .wrapper {
    width: 100%;
    padding: 30px 5%;
}
.container-details {
    padding-top: 30px;
    margin-bottom: 50px;

}

.container-details .bg-name-product {
    position: absolute;

}
.container-details .bg-name-product h1 {
    color: rgba(90, 170, 209, 0.3);
    font-size: 90px;
    opacity: 0.7;
}
.details-content-left {
    padding: 20px;
}
.details-content-left .image-showcase {
    width: 100%;
    height: 85vh;
}
.details-content-left .image-showcase .big-image {
    width: 100%;
    height: 100%;
    position: relative; 
}
.details-content-left .image-showcase .big-img-showcase {
    position: relative;
    width: 80%;
}
.details-content-left .image-showcase .big-img-showcase img {
    width: 100%;
}
.details-content-left .image-showcase .big-img-showcase .shadow {
    content: "";
    position: absolute; 
    background-color: rgba(0,0,0,.5);
    height: 15px;
    width: 90%;
    border-radius: 50%;
    filter: blur(3px);
    z-index: 0;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/* .details-content-left .image-showcase .small-image {
    height: 150px;

} */
.details-content-left .image-showcase .small-image .small-image-item{
    width: 120px;
    height: 120px;
    padding: 20px;
    margin: 0 10px;
    background-color: rgba(90, 170, 209, 0.3);
    border-radius: 10px;
}
.details-content-left .image-showcase .small-image-item img {
    width: 100%;
    cursor: pointer;
    
}
.details-content-left .product-parameters,
.details-content-left .product-desc {
    padding: 20px;
    background-color: #f3f5f5;
    border-radius: 10px;
}
.details-content-left h5 ,
.details-content-left h5 {
    color: #000;
}
.details-content-left p ,
.details-content-left p {
    color: #6D6D6D;
}

.details-content-right {
    padding: 20px;
    height: min-content;
    min-height: auto;
    overflow: auto;
    position: sticky;
    top: 20px;
}
.details-content-right .product-class {
    color: #c4c4c4;
}
.details-content-right .product-name {
    color: #000;
    font-size: 24x;
}
.details-content-right .product-status {
    color: #000;
}
.details-content-right .product-status span {
    color: #008800;
}
.details-content-right .product-price {
    color: #000;
}
.details-content-right .product-price span {
    color: #FFa109;
    font-size: 24px;
}
.details-content-right .promotions {
    border: 1px dashed #0087cc;
    border-radius: 10px;
}
.details-content-right .promotions .promotions-title {
    background-color: rgba(0, 153, 0, 0.05);
    padding: 10px;
    color: #000;
    font-size: 16px;
}
.details-content-right .promotions .promotions-item {
    padding: 10px;
}
.details-content-right .promotions .promotions-item i {
    color: #008800;
}
.details-content-right .promotions .promotions-item p {
    color: #000;
    font-size: 14px;
}
.details-content-right .promotions-sale {
    background-color: rgba(0, 153, 0, 0.05);
    padding: 10px;
    border-radius: 5px;
}
.details-content-right .promotions-sale p {
    color: #009900;
}

.details-content-right .select-size h5 {
    color: #6D6D6D;
}
.details-content-right .select-size li{
    width: 40px;
    height: 40px;
    border: 1px solid #d4e8e8;
    border-radius: 5px;
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6D6D6D;
    cursor: pointer;

}
.details-content-right .select-size li:hover {
    border-color: #0087cc;
    color: #0087cc;
}
.details-content-right .select-size li.select-size {
    border-color: #FFa109;
    color: #FFa109;
    background-color: rgba(255, 161, 9, 0.2);
}

.details-content-right .select-quantity .select-quantity-title h5{
    color: #6D6D6D;
}
.details-content-right .select-quantity .select-quantity-content span {
    color: #000;
    padding: 5px 10px;
    border: 1px solid #0087cc;
    border-radius: 5px;
    margin: 0 5px;
}
.details-content-right .select-quantity .select-quantity-content .btn-reduction,
.details-content-right .select-quantity .select-quantity-content .btn-increase {
    border: none;
    border-radius: 5px;
    background: #0087cc;
    outline: none;
    color: #fff;
    font-size: 22px;
}
.details-content-right .action-group .btn-buy {
    padding: 10px;
    background: rgb(255,161,9,10%);;
    color: #FFa109;
    border: 1px solid #FFa109;
    border-radius: 10px;
    transition: all 1s ease;
    position: relative;
    overflow: hidden;
}
.details-content-right .action-group .btn-buy::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    background: #FFa109;
    top: 0;
    left: 50%;
    z-index: -1;
    transition: all 0.6s ease;

}
.details-content-right .action-group .btn-buy:hover {
    color: #fff;
    background-color: transparent;
}
.details-content-right .action-group .btn-buy:hover::before{
    width: 100%;
    left: 0;
}
.details-content-right .action-group .btn-add-cart {
    padding: 10px;
    border-radius: 10px;
    background: rgb(0,135,204,10%);
    border: 1px solid #0087cc;
    color: #0087cc;
    margin-right: 10px;
    transition: all 1s ease;

}
.details-content-right .action-group .btn-add-cart:hover {
    background-color: #0087cc;
    color: #fff;
}

@media only screen and (max-width: 1199.98px) {  
  
}
@media only screen and (max-width: 991.98px) {
    .details-content-left .image-showcase .small-image .small-image-item {
        width: 100px;
        height: 100px;
        padding: 10px;
    }
    .details-content-right .action-group {
        flex-direction: column;
    }
    .details-content-right .action-group .btn-add-cart {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .details-content-right .action-group .btn-buy {
        width: 100%;
    }
}
@media only screen and (max-width: 767.98px) {
       
}

@media only screen and (max-width: 575.89px) {  
    
}
