#modalSignInUp {
    background-image: linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,0.4));
}
#modalSignInUp .modal-dialog {
  max-width: 90%;
}
#modalSignInUp .wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
  }
  
#modalSignInUp .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#modalSignInUp .forms-container .btn-close {
  position: relative;
  top: 15px;
  right: 15px;
  z-index: 9999;
}
#modalSignInUp .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
  
#modalSignInUp form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
  
#modalSignInUp form.sign-up-form {
    opacity: 0;
    z-index: 1;
}
  
#modalSignInUp form.sign-in-form {
    z-index: 2;
}
  
#modalSignInUp .title {
    font-size: 36px;
    color: #444;
    margin-bottom: 30px;
}
#modalSignInUp .form-group {
    margin-bottom: 30px;
    position: relative;
}
#modalSignInUp .form-group label {
    margin-left: 20px;
    color: #444444;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    z-index: 5;
    padding: 0 5px;
    background-color: #fff;
}

#modalSignInUp .form-group input {
    border: 1px solid #acacac;
    border-radius: 10px;
    padding: 30px 35px;
    outline: none;
}
#modalSignInUp .form-group .icon-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
#modalSignInUp .form-group button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: none;
    border: none;
}
#modalSignInUp .form-group button:focus {
    outline: none;
}
#modalSignInUp .form-group i {
    font-size: 20px;
    color: #acacac;
}
#modalSignInUp .form-group .icon-right:hover {
    color: #FFa109;
}

#modalSignInUp .form-group input:focus {
    box-shadow: none;
    border: 1px solid #04befe;
}
#modalSignInUp .form-group input:focus ~ i.icon-left {
    color: #04befe;
}
#modalSignInUp .form-group input:focus ~ label,
#modalSignInUp .form-group input:valid ~ label{
    top: 0;
    left: 20px;
    color: #04befe;
}
#modalSignInUp .social-text {
    width: 100%;
    margin: 20px 0;
}
#modalSignInUp .social-text .dividing-line{
    height: 1px;
    width: 30%;
    background-color: #acacac;  
}
#modalSignInUp .social-text p {
    color: #FFa109;
    margin: 0 20px;
}
#modalSignInUp .signin-signup .social-media .social-icon i {
  font-size: 25px;
  color: #fff;
}
#modalSignInUp .signin-signup .social-media .social-media-item {
  position: relative;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  line-height: 0;
  border-radius: 5px;
  background-color: rgb(0, 123, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  
}
#modalSignInUp .social-media .social-media-item:hover {
  background-color: #fff;
}
#modalSignInUp .signin-signup .social-media .link-facebook {
  background-color: #007bff;
}

#modalSignInUp .signin-signup .social-media .link-google {
  background-color: rgba(34,193,195,1);
}
#modalSignInUp .signin-signup .social-media .link-apple {
  background-color: #acacac;
}
#modalSignInUp .signin-signup .social-media .social-media-item:hover {
  background-color: #fff;
}
#modalSignInUp .signin-signup .social-media .social-media-item .sub-text {
  position: absolute;
  top: 0;
  font-size: 14px;
  color: #ffffff;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  left: 50%;
  transform: translateX(-50%);
}
#modalSignInUp .signin-signup .social-media .social-media-item .sub-text::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  bottom: -5px;
}

#modalSignInUp .signin-signup .social-media .link-facebook .sub-text,
#modalSignInUp .signin-signup .social-media .link-facebook .sub-text::after {
  background-color: #007bff;
}

#modalSignInUp .social-media .link-facebook:hover i {
  color: #007bff;
}
#modalSignInUp .signin-signup .social-media .link-google .sub-text,
#modalSignInUp .signin-signup .social-media .link-google .sub-text::after {
  background-color: rgba(34,193,195,1);
}

#modalSignInUp .social-media .link-google:hover i {
  color: rgba(34,193,195,1);
}
#modalSignInUp .signin-signup .social-media .link-apple .sub-text,
#modalSignInUp .signin-signup .social-media .link-apple .sub-text::after {
  background-color: #acacac;
}
#modalSignInUp .social-media .link-apple:hover i {
  color: #acacac;
}

#modalSignInUp .social-media .social-media-item:hover span.sub-text {
  opacity: 1;
  top: -110%;
}
  
#modalSignInUp .btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
  
#modalSignInUp .btn:hover {
    background-color: #4d84e2;
}
#modalSignInUp .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
  
#modalSignInUp .wrapper:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(0deg, rgba(255,161,9,0.1) 5%, rgba(255,161,9,0.5) 10%, rgba(255,161,9,1) 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
}
  
#modalSignInUp .image {
    width: 500px;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
}
  
#modalSignInUp .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}
  
#modalSignInUp .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}
  
#modalSignInUp .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}
  
#modalSignInUp .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
}
  
#modalSignInUp .panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}
  
#modalSignInUp .panel p {
    font-size: 15px;
    margin: 20px 0;
}
#modalSignInUp .panel p span {
  color: #FFa109;
  font-size: 16px;
  
} 
#modalSignInUp .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
  }
  
  #modalSignInUp .right-panel .image,
  #modalSignInUp .right-panel .content {
    transform: translateX(800px);
  }
  
  /* ANIMATION */
  
  #modalSignInUp .wrapper.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
    background-image: linear-gradient(0deg, rgba(235,140,180,0.1) 5%, rgba(235,140,180,0.5) 10%, rgba(235,140,180,1) 100%);
  }
  
  #modalSignInUp .wrapper.sign-up-mode .left-panel .image,
  #modalSignInUp  .wrapper.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  
  #modalSignInUp .wrapper.sign-up-mode .signin-signup {
    left: 25%;
  }
  
  #modalSignInUp .wrapper.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  #modalSignInUp .wrapper.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  #modalSignInUp  .wrapper.sign-up-mode .right-panel .image,
  #modalSignInUp .wrapper.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  
  #modalSignInUp .wrapper.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  #modalSignInUp .wrapper.sign-up-mode .right-panel {
    pointer-events: all;
  }

@media only screen and (max-width: 991.98px) {
  #modalSignInUp .wrapper {
    min-height: 800px;
    height: 100vh;
  }
  #modalSignInUp .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  #modalSignInUp .signin-signup,
  #modalSignInUp .wrapper.sign-up-mode .signin-signup {
    left: 50%;
  }

  #modalSignInUp .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  #modalSignInUp .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  #modalSignInUp .right-panel {
    grid-row: 3 / 4;
  }

  #modalSignInUp .left-panel {
    grid-row: 1 / 2;
  }

  #modalSignInUp .image {
    width: 300px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  #modalSignInUp .panel .content {
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  #modalSignInUp .panel h3 {
    font-size: 1.2rem;
  }

  #modalSignInUp .panel p {
    font-size: 14px;
    padding: 0.5rem 0;
  }
  
  #modalSignInUp .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  #modalSignInUp .wrapper:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  #modalSignInUp .wrapper.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 28%;
    right: initial;
  }

  #modalSignInUp .wrapper.sign-up-mode .left-panel .image,
  #modalSignInUp .wrapper.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  #modalSignInUp .wrapper.sign-up-mode .right-panel .image,
  #modalSignInUp .wrapper.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  #modalSignInUp .right-panel .image,
  #modalSignInUp .right-panel .content {
    transform: translateY(300px);
  }

  #modalSignInUp .wrapper.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 575.89px) {
  #modalSignInUp .modal-dialog {
    margin: 0 auto;
  }
  #modalSignInUp form {
    padding: 0 1.5rem;
  }

  #modalSignInUp .image {
    display: none;
  }
  #modalSignInUp .panel .content {
    padding: 0.5rem 1rem;
  }
  #modalSignInUp .wrapper {
    padding: 1.5rem;
  }

  #modalSignInUp .wrapper:before {
    bottom: 72%;
    left: 50%;
  }

  #modalSignInUp .wrapper.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
  